---
layout: standard
title: "$50 Car Locksmith | Kennesaw Locksmith"
slug: index
---
<div class="os-header os-metal">
    <div class="container" style="padding: 50px 20px">
        <h1 class="fg-white">Open Sesame | Atlanta Locksmith</h1>
        <h2 class="fg-white" style="margin-top: 20px;">
            A residential, commercial, and automotive locksmith <br>
            serving Atlanta, and its surrounding cities.
        </h2>
        <div class="no-tablet-portrait no-phone os-top-logo"></div>
</div>

<div class="container">
    <div class="grid fluid">
        <div class="row" style="margin-top: 20px">
            {% for link in site.data.homelinks %}
            <a href="{{link.href}}" 
               class="span4 {{link.class}} padding20 text-center">
                <h2 class="fg-white">{{link.text}}</h2>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% include home-cta.html %}
{% include home-slider.html %}
{% include home-residential-content.html %}
{% include home-commercial-content.html %}
{% include home-automotive-content.html %}
{% include home/safe-content.html %}
{% include home-footer.html %}
