
    <header class="bg-dark">
        <div class="navigation-bar dark">
            <div class="navigation-bar-content container">
                <a href="{% if site.baseurl == "" %}/{% else %}{{ site.baseurl }}{% endif %}" class="element"><span class="icon-key"></span> Open Sesame</a>
                <span class="element-divider"></span>
                
                <a class="element1 pull-menu" href="#"></a>

                <ul class="element-menu">
                    {% for link in site.data.nav_links %}
                    <li><a href="{{ link.href }}">{{link.text}}</a></li>
                    <li class="divider"></li>
                    {% endfor %}
                    <li><a href="{{ site.baseurl }}/atlanta-locksmith-blog" class="fg-yellow">Blog</a></li>
                </ul>

                <div class="no-tablet-portrait no-phone">
                    {% for link in site.data.social_links %}
                    <a title="{{link.title}}" href="{{link.href}}" class="element place-right"><span class="{{link.class}}"></span></a>
                    <span class="element-divider place-right"></span>
                    {% endfor %}
                </div>
            </div>
    </div>
    </header>
