<div class="bg-steel no-tablet-portrait no-phone os-carousel-container">
    <div class="container padding20 fg-white">
        <div class="carousel no-overflow" id="carousel2">
            <div class="slide os-slide">
                <img src="images/opensesame/uploads/2012/04/front-1024x597.jpg"/>
            </div>
            {% for slide in site.data.slides %}
            <div class="slide os-slide">
                <h3>{{slide.header}}</h3>
                <p>{{slide.text}}</p>
                <img src="{{slide.img}}"/>
            </div>
            {% endfor %}
        </div>
        <script>
            $(function(){
                $("#carousel2").carousel({
                    height: 550,
                    period: 5000,
                    duration: 1000,
                    effect: 'fade',
                    markers: {
                        show: true
                    }
                });
            })
        </script>
    </div>
</div>
