<div class="content">
    <div class="container padding20">
        <div class="grid">
            <h3>Residential Locksmith</h3>
            <div class="row">
                <p>Owning or renting a home, apartment, or condo brings many responsibilities. Making sure that loved ones are safe is the most important responsibility. Entry points are the first level of security for any residence. Making sure doors have secure locks professionally installed should be number one priority. Open Sesame provides it's customers with options related to new installs, whole home re-keys, strike plate installation, lock repair, and residential lock out services.
                </p>
                
                <p>Atlanta Locksmiths offer many types of residential services. These services all can come at different prices. Open Sesame likes to be up front about pricing and will always give a quote over the phone if applicable. There will be a valid reason given, if the job cannot be given a quote over the phone. <a href="{{site.baseUrl}}/locksmith-services/residential-locksmith">read more</a></p>
            </div>
        </div>
    </div>
</div>
