<div class="container">
    <div class="grid no-margin">
        <div class="row">
            <div class="span5 no-tablet-portrait no-phone">
                <a href="tel:+1-855-321-6736" class="notice marker-on-right bg-lighterBlue padding10 text-center" style="height: 200px">
                        <h3 class="fg-white" style="font-size: 40px; line-height: 135px; margin-bottom: 30px">
                            855-321-OPEN
                            <p>Call and get upfront pricing and honesty</p>
                        </h3>
                </a>
            </div>
            <div class="span7">
                <a href="tel:+1-855-321-6736" class="notice marker-on-bottom no-desktop padding10 bg-lighterBlue text-center ">
                    <p class="subheader-secondary fg-white no-margin">
                        855-321-OPEN
                    </p>
                </a>
                <ol class="styled">
                    <li style="width: 90%">$50 Car Lockouts. Price may vary depending upon location</li>
                    <li style="width: 90%">Can cut keys for 95% of vehicles</li>
                    <li style="width: 90%">Residential or Commercial re-keys, installations and more...</li>
                    <li style="width: 90%">Low voltage Security Installations</li>
                    <li style="width: 90%">Atlanta and Kennesaw Safe Movers</li>
                </ol>
            </div>
        </div>
    </div>
</div>
