<p>
    <img src="{{site.baseurl}}/images/opensesame/safe-move-1-web.png" alt="Atlanta Safe Movers" align="right">
    Moving safes can seem like a daunting task. Do you have a 1000 lb to 2000 lb safe that needs to be moved? Do you have something bigger? We can move it. Open Sesame has all the equipment needed to move any safe, anywhere in your home. Open Sesame has moved hundreds of safes around the Atlanta area. These customers have been superbly happy with our services and have recommended us time and time again.
</p>

<p>
    Safe moving is more difficult than one would think. To make sure a safe is moved properly we have a team of trained professionals, who use the correct equipment, stay calm under stressful situations, and always keep the highest level of communication with the customer. There are a few steps that Open Sesame takes to make sure a safe is moved into a home properly. These steps are our guidelines to ensure that all safe moving jobs are done successfully. 
</p>

<p>
    The price of safe moves can vary greatly. The price depends upon how far you need to move the safe, and how far the safe needs to go, once its on the ground. At the bare minimum, Open Sesame charges $399 to move the smallest safes. Then we go up from there. These prices are always discussed with the safe owner before we arrive to ensure that all parties are happy and content. This allows Open Sesame and its customers to have the most beneficial relationships possible. 
</p>
